#search-field
  - form_tag :action=>'index' do
    = text_area_tag :query, @query, :rows=>5
    %br
    = submit_tag 'Search'

- if flash[:error]
  #flash-error= h(flash[:error])

#row-count= "#{@tickets.size} tickets found"

%table#results
  %tr
    %th="Owner"
    %th="Status"
    %th="Description"
    %th="Tags"
    %th=""

  - @tickets.each do |ticket|
    %tr{:class=>cycle("odd","even")}
      %td
        = ticket.user ? ticket.user.login : "-"
      %td
        = ticket.status
      %td
        = ticket.description.size > 50 ? ticket.description.first(50)+'...' : ticket.description
      %td
        = ticket.tags.blank? ? "-" : ticket.tags.map(&:name).join(", ")
      %td
        = link_to "View"
